.checkout_ad{
    width:100%;
    /* height: 80px; */
    margin-bottom: 10px;
}
.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.checkout_title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.checkout_right{
    display: none;
}
@media only screen and (max-width: 1023px){
.checkout_rights{
    display: none;
}
.checkout_right{
    display: block;
}

}