.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-image: linear-gradient( 176.6deg,  rgba(244,105,4,1) 7.4%, rgba(218,92,0,1) 91.9% );
    position: sticky;
    top:0;
    z-index: 100;
}
.header_logo {
 width: 100px;
 object-fit: contain;
 margin: 0 20px;
 
}
.header_search {
    display: flex;
    flex:1;
    align-items: center;
    border-radius: 24px;
}
.header_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #f12c1e;
}
.header_optionLineOne {
    font-size: 10px;
}
.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header_optionBasket {
    display: flex;
    align-items: center;
    color:white;
}
.header_basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
@media only screen and (max-width: 1023px){

.header {
    height:133px;
    position: sticky;
    display: block;
    
   
}
.header_searchInput {
    height: 12px;
    padding: 7px;
    margin-left: 13px;
    border: none;
    width: 69%;
}
.header_searchIcon{
    padding: 5px;
    height: 18px !important;
    background-color: #f12c1e;
}
}